.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
/* @media screen and (max-width: 400px) {
  .App{
    font-size: 10px;
  }
} */